@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;

  box-sizing: border-box;
  font: normal 100%/1.3 "Roboto", sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.img-flex {
  width: 100%;
  display: block;
}

.icon-group-image {
  width: 100%;
  display: inline-block;
}

/* header */

header {
  background-color: #939393;
  height: 65px;
  position: relative;
}

a {
  color: #000;
  text-decoration: none;
}

h1 {
  font-size: 1.5rem;
  float: left;
  margin: 0;
  padding: 0;
  bottom: 1rem;
  left: 1em;
  color: black;
  position: absolute;
}

.banner {
  display: block;
  width: 100%;
}

/* toggle */

li {
  list-style-type: none;
  position: relative;
  float: right;
  display: block;
  z-index: 10;
}

ul {
  padding-left: 10rem;
  height: 0;
  width: 0;
  right: 1.5rem;
}

.nav {
  background-color: white;
  position: absolute;
  top: 2rem;
  display: none;
}

nav a {
  display: block;
  text-align: center;
  background-color: white;
  padding: 1rem 3rem 1rem 3rem;
}

.nav a:hover {
  color: white;
  background-color: #333;
}

.nav-check {
  position: absolute;
  top: -3rem;
}

.nav-label {
  cursor: pointer;
  font-size: 1.25rem;
  width: 30px;
  display: inline-block;
  position: absolute;
  right: 1.5rem;
  bottom: 1rem;
  z-index: 10;
}

.nav-check:checked ~ .nav {
  display: block;
}

.nav-check:checked ~ .nav-label .nav-open {
  display: none;
}

.nav-open,
.nav-close {
  display: block;
  width: 100%;
}

.nav-open {
  width: 100%;
}

.nav-close {
  display: none;
  background-color: white;
}

.nav-check:checked ~ .nav-label .nav-close {
  display: block;
}

/* banner content */

h2 {
  color: black;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  margin: 1.5rem;
}

.banner {
  position: relative;
}

h2 + p {
  font-size: 1rem;
  margin: 1.5rem;
}

.banner-content {
  width: 100%;
  position: absolute;
  text-align: left;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate (-50%, -50%);
}

.btn {
  background-color: white;
  border: 3px solid #000;
  border-radius: 10px;
  display: inline-block;
  padding: .5rem;
  text-align: center;
  margin: 1.5rem;
}

.btn:hover {
  background-color: #000;
  border-color: #000;
  color: white;
}

/* Link Cards */

.link-cards {
  overflow: hidden;
  margin: 2rem 1rem 2rem 1rem;
  float: left;
  position: relative;
}

.link-cards p {
  font-size: 1.5rem;
  color: #000;
  margin-top: -5rem;
  margin-left: 1rem;
  position: absolute;
}

/* Our Menu */

h3 {
  margin: 1rem 1rem 0 1rem;
}

p {
  margin: .5rem 1rem 1rem 1rem;
}

.image-banner1,
.image-banner2,
.image-banner3,
.image-banner4 {
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 1.5rem;
}

.image-flex {
  position: relative;
}

.pl {
  position: absolute;
  margin: -5rem 1rem 1rem 1rem;
}

/* Our Staff */

.icon-card-image {
  margin: 2rem 1rem 0 1rem;
  overflow: hidden;
}

.icon-card1,
.icon-card3 {
  position: relative;
  margin-left: 1rem;
  display: inline-block;
  text-align: center;
  min-width: 16rem;
}

.icon-card2,
.icon-card4 {
  position: relative;
  margin-left: 1rem;
  display: inline-block;
  text-align: center;
  min-width: 16rem;
}

.staff-section {
  margin-top: 2rem;
  text-align: center;
}

.staffp {
  text-align: left;
}

/* Facts */

.paragraph {
  line-height: 1.5;
}

/* Footer */

footer {
  background-color: #939393;
  padding: 1rem 1rem 6rem 1rem;
}

footer small {
  color: black;
  display: block;
  font-size: .75rem;
}

@media only screen and (min-width: 25em) {

  html {
    font-size: 100%;
    line-height: 1.3;
  }

}

@media only screen and (min-width: 38em) {

  html {
    font-size: 110%;
    line-height: 1.4;
  }

  section:nth-child(odd) {
    background-color: #f2f2f2;
    margin: 1rem;
    padding: .5rem;
  }

  header {
    background-color: #939393;
    height: 70px;
    position: relative;
  }

  .nav-check {
    display: none;
  }

  .nav-label {
    display: none;
  }

  .nav {
    display: block;
    top: .5rem;
    right: 20rem;
    padding: 0;
    bottom: 3rem;
  }

  .nav a {
    padding: 0;
    display: block;
    background-color: #939393;
    float: left;
  }

  .nav a:hover {
    padding: .2rem 1rem .2rem 1rem;
    margin: 0;
  }

  ul li {
    display: block;
    padding: 0;
    margin-bottom: 0;
    margin-top: 0;
  }

  .li1 {
    left: 4rem;
    margin: 0;
  }

  .li2 {
    left: 10rem;
    bottom: 1.4rem;
  }

  .li3 {
    left: 17rem;
    bottom: 2.8rem;
  }

  .link-cards {
    float: none;
  }

  .icon-group-item {
    width: 32.7%;
  }

  .link-cards p {
    font-size: 1.2rem;
    color: #000;
    margin-top: -3.5rem;
    margin-left: 1rem;
    position: absolute;
  }

  .icon-group-item:nth-child(1) {
    display: inline-block;
  }

  .icon-group-item:nth-child(2) {
    display: inline-block;
  }

  .icon-group-item:nth-child(3) {
    display: inline-block;
  }

  .icon-card1,
  .icon-card2,
  .icon-card3,
  .icon-card4 {
    display: inline-block;
    float: none;
    min-width: 15%;
    margin: 0;
    padding: 0;
  }

  .icon-card4 {
    align-items: center;
  }

}

@media only screen and (min-width: 60em) {

  html {
    font-size: 120%;
    line-height: 1.5;
  }

  header {
    background-color: #939393;
    height: 80px;
    position: relative;
  }

  .icon-card1,
  .icon-card2,
  .icon-card3,
  .icon-card4 {
    display: inline-block;
    float: none;
    min-width: 24%;
    margin: 0;
    padding: 0;
  }

  .image-banner1,
  .image-banner2,
  .image-banner3,
  .image-banner4 {
    float: none;
    width: 45.9%;
    display: inline-block;
  }

  .image-banner p {
    font-size: 1.2rem;
    color: #000;
    margin-top: -3.5rem;
    margin-left: 1rem;
    position: absolute;
  }

}

@media only screen and (min-width: 90em) {

  html {
    font-size: 130%;
    line-height: 1.5;
  }

  header {
    background-color: #939393;
    height: 90px;
    position: relative;
  }

}
