@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;

  box-sizing: border-box;
  font: normal 100%/1.3 "Roboto", sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.img-flex {
  width: 100%;
  display: block;
}

.icon-group-image {
  width: 100%;
  display: block;
}

/* header */

header {
  background-color: #939393;
  height: 60px;
  position: relative;
}

a {
  color: #000;
  text-decoration: none;
}

h1 {
  font-size: 1.5rem;
  float: left;
  margin: 0;
  padding: 0;
  bottom: 1rem;
  left: 1em;
  color: black;
  position: absolute;
}

.banner {
  display: block;
  width: 100%;
}

/* toggle */

nav {
  background-color: white;
  display: none;
  list-style-type: none;
  margin: 0;
  padding: 1rem;
  position: absolute;
  right: 2rem;
  z-index: 10;
}

nav a {
  display: block;
  text-align: center;
  padding: 1rem;
  background-color: white;
}

nav a:hover {
  color: white;
  background-color: #939393;
}

/* banner content */

h2 {
  color: black;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  margin: 1.5rem;
}

.banner {
  position: relative;
  margin-bottom: 2rem;
}

h2 + p {
  font-size: 1rem;
  margin: 1.5rem;
}

.banner-content {
  width: 100%;
  position: absolute;
  text-align: left;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.btn {
  background-color: white;
  border: 3px solid #000;
  border-radius: 10px;
  display: inline-block;
  padding: .5rem;
  text-align: center;
  margin: 1.5rem;
}

.btn:hover {
  background-color: #000;
  border-color: #000;
  color: white;
}

/* Link Cards */

.link-cards {

}
